*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  button, summary {
	  cursor: pointer;
  }

  /********/
 /* FONT */
/********/

@font-face {
	font-family: mainfont;
	src: url(../fonts/SansitaSwashed-VariableFont_wght.ttf);
	
	font-weight: normal;
    font-style: normal;
}

  /*********************/
 /* CUSTOM PROPERTIES */
/*********************/
:root {
    /*colors*/
    --color-bg: darkcyan;
    --maincolor-font: aliceblue; 
    /*font*/
    --main-font: mainfont;
}


body {
    background: var(--color-bg);
    font-family: var(--main-font); 
    color: var(--maincolor-font); 
}

h1 {
    color: var(--maincolor-font); 
    font-size: 40px;
    text-align: center;
}

