<h1>Hello from the home template</h1>
<body>
<section>
    <h2>Film titel</h2>
    <img src="#" alt="">
    <p>filmbeschrijving</p>
</section>

<section>
    <button>
        <img src="#" alt="">
    </button>
     <button>
        <img src="#" alt="">
    </button>
</section>
</body>

<nav>
    <button>
        <img src="#" alt="">
    </button>
    <button>
        <img src="#" alt="">
    </button>
    <button>
        <img src="#" alt="">
    </button>
    <button>
        <img src="#" alt="">
    </button>
</nav>