<body>
<section class="main">
    <section>
        <h1>Film titel</h1>
        <img src="images/iceageimg.jpeg" alt="hello">
        <p>Twintigduizend jaar geleden strekten gletsjers zich uit over de hele aarde en overal vluchtten de dieren voor de dreigende ijstijd. </p>
    </section>

    <section>
        <button src="">
            <i class="fa-solid fa-heart"></i>
        </button>
        <button src="">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </section>
</section>
</body>

<hr>

<nav>
    <button src="home.handlebars" class="active">
        <i class="fa-solid fa-film"></i>
    </button>
    <button src="like.handlebars">
        <i class="fa-solid fa-heart"></i>
    </button>
    <button src="#">
        <i class="fa-solid fa-user"></i>
    </button>

</nav>