<body>
<section>
    <h1>Film titel</h1>
    <img src="./static/images/iceageimg.jpeg" alt="plaatje van ice age film">
    <p>filmbeschrijving</p>
</section>

<section>
    <button src="">
        <i class="fa-solid fa-heart"></i>
    </button>
     <button src="">
        <i class="fa-solid fa-xmark"></i>
    </button>
</section>
</body>



<nav>
    <button src="">
        <img src="#" alt="">
    </button>
    <button src="">
        <img src="#" alt="">
    </button>
    <button src="">
        <img src="#" alt="">
    </button>

</nav>