<header>
    <h1>Zero fax</h1>
</header>
<main>
    <form action="/login" method="post" class="login--forum">
        <legend class="login--forum-header">Log in</legend>
        <fieldset class="login--forum-content">
            <label for="name">Username</label>
            <input class="login--forum-input" type="name" id="name" name="name" required>
            <label for="password">Password</label>
            <input class="login--forum-input" type="password" id="wachtwoord" name="wachtwoord" required>
            <button class="login--forum-button" type="submit">Log in</button>
        </fieldset>
    </form>
    <button><a href="/register"> Register </a></button>
</main>