<body>
<section class="like">
    <section>
        <h1>Liked</h1>
        <p>Ice age</p>
        <img src="images/iceageimg.jpeg" alt="hello">
    </section>
</section>
</body>


<nav>
    <hr>
    <button src="">
        <i class="fa-solid fa-film"></i>
    </button>
    <button src="" class="like">
        <i class="fa-solid fa-heart"></i>
    </button>
    <button src="">
        <i class="fa-solid fa-user"></i>
    </button>

</nav>