<body>
<section>
    <h1>Liked</h1>
    <img src="images/iceageimg.jpeg" alt="hello">
    <p>filmbeschrijving</p>
</section>

<section>
    <button src="">
        <i class="fa-solid fa-heart"></i>
    </button>
     <button src="">
        <i class="fa-solid fa-xmark"></i>
    </button>
</section>
</body>


<nav>
    <hr>
    <button src="">
        <i class="fa-solid fa-film"></i>
    </button>
    <button src="" class="like">
        <i class="fa-solid fa-heart"></i>
    </button>
    <button src="">
        <i class="fa-solid fa-user"></i>
    </button>

</nav>