<header>
        <h1>Zero fax</h1>
</header>
<main>
    <form action="/register" method="post" class="register--forum">
        <legend class="register--forum-header"> Make an account </legend>
        <fieldset class="register--forum-content">
            <label for="name">Username </label>
            <input class="register--forum-input" type="name" id="name" name="name" required>
            <label for="mail">Email adress</label>
            <input class="register--forum-input" type="mail" id="mail" name="mail" required>
            <label for="password">Password</label>
            <input class="register--forum-input" type="password" id="wachtwoord" name="wachtwoord" required>
            </select>
            <button class="register--forum-button" type="submit">Register</button>
        </fieldset>
    </form>
    <button><a href="/login"> login </a></button>
    <h3>{{gebruiker}}</h3>
    <script src="register.js"></script>
</main>