*, *::after, *::before {
	box-sizing:border-box;  
  }
  
  button, summary {
	  cursor: pointer;
  }

  /********/
 /* FONT */
/********/

@font-face {
	font-family: mainfont;
	src: url(../fonts/SansitaSwashed-VariableFont_wght.ttf);
	
	font-weight: normal;
    font-style: normal;
}

  /*********************/
 /* CUSTOM PROPERTIES */
/*********************/
:root {
    /*colors*/
    --color-bg: rgb(6, 22, 92);
    --maincolor-font: aliceblue;
    /*nav colors*/  
    --active-button: white;
    --inactive-button: rgb(149, 149, 149);
    --heart-button: rgb(206, 15, 15);

    /*font*/
    --main-font: mainfont;
}


body {
    background: var(--color-bg);
    font-family: var(--main-font); 
    color: var(--maincolor-font); 
}

h1 {
    color: var(--maincolor-font); 
    font-size: 40px;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
}

p {
    position: absolute;
    left: calc(50% - 10em);
    right: calc(50% - 10em);
    bottom: calc(50% - 7.5em);
   
}

img {
    position: absolute;
    left: calc(50% - 7.8em);
    width: 16em;
    
    border: 1px solid white;
}


/*like button*/
section:nth-of-type(2) button:nth-of-type(1) {
    position: absolute;
    left: calc(50% - 11.5em);
    bottom: 10em;
    
    color: var(--heart-button);
    border-radius: 50%;
    height: 10em;
    width: 10em;
    border: black;
}

section:nth-of-type(2) button:nth-of-type(1) i:nth-of-type(1) {
    font-size: 4em;
}

section:nth-of-type(2) button:nth-of-type(1):hover {
    transform: scale(1.1);
}

/*dislike button*/
section:nth-of-type(2) button:nth-of-type(2) {
    position: absolute;
    right: calc(50% - 11.5em);
    bottom: 10em;
    
    border-radius: 50%;
    height: 10em;
    width: 10em;
    border: black;
    
}

section:nth-of-type(2) button:nth-of-type(2) i:nth-of-type(1) {
    font-size: 4em;
}

section:nth-of-type(2) button:nth-of-type(2):hover {
    transform: scale(1.1);
}

/*navigatie*/
hr {
    position: absolute;
    bottom: 4em;
    width: 100%;
}

nav {
    position: absolute;
    bottom: .25em;
    left: calc(50% - 12.2em);

    background-color: var(--color-navbar);
    width: 100%;
}

nav button {
    margin-left: 1.5em;
    border: none;
    color: var(--inactive-button);
    
    background-color: Transparent;
    font-size: 2.5em;
}
/*home button color*/
nav button.active {
    color: var(--active-button);
}

/*like button color*/
nav button.like {
    color: var(--heart-button);
}


  /***************/
 /* LIKE PAGINA */
/***************/

section.like img {
    top: 7em;
    left: 3em; 
    width: 4em;
}

section.like p {
    top: 4em;
}